/* .container {
    max-width: 10000px;
    margin: 50px auto;

} */

/* form {
    border: 1px solid #f4f6f7;
    background: #ffffff;
    /* padding: 40px 50px 45px; 
}
*/
/* 
.form-control:focus {
    border-color: rgb(252, 250, 250);
    box-shadow: none;
} */

.body {
    font-family: "Times New Roman", Times, serif;
  }

.error {
    color: red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 100px;
}

.error {
    border-color: red;
}